.desktop-nav :nth-child(2) {
    border-bottom: 3px solid var(--hover-color);
    color: var(--hover-color);
}

.about-title {
    margin-top: 125px;
    margin-bottom: 20px;
}

.about {
    max-width: 1100px;
    margin: auto;
}


.tech, .non-tech {
    display: flex;
}

.tech a{
    color: var(--text-color);
    font-weight: 600;

}

.art {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
}

.artwork {
    box-shadow: -15px 15px 20px var(--border-color);
    margin: auto;
    margin-bottom: 15px;
    transition: 0.5s;
}

.artwork:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    .about-title {
        margin-top: 85px;
        margin-bottom: 8px;
    }

    .art {
        margin-top: 20px;
        
    }
    
}






