:root{
    --background-color: #ffffff;
    --text-color: #16557d;
    --links-color: #4c91bc;
    --hover-color:#09486e;
    --border-color: #8080801c;
}

body{
    background-color: var(--background-color);
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
}

a{
    color: var(--links-color);
    text-decoration: none;
}

p{
    color: var(--links-color);
    font-size: 20px;
}

h1{
    color: var(--text-color);
    font-size: 60px;
    
}

.mobile-nav {
    display: none;
}

.desktop-nav{
    display: flex;
    justify-content: end;
    padding-left: 500px;
    position: fixed;
    z-index: 1;
    top:0;
    right:0;
    background-color: #ffffff;
    width: 100%;
    font-size: 20px;
}

.desktop-nav a{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.desktop-nav a:hover{
    color: var(--hover-color);
    font-size: larger;
}

.dektop-nav>* {
    line-height: 22px;
    vertical-align: middle;
}

.contact p{
    
    font-size: 14px;
}

.ri-heart-fill {
    font-size: small;
}

.contact i {
    color: var(--links-color);
    padding: 10px;
    font-size: 2.5em; 
    line-height: 30px;
    vertical-align: middle;
    
}

.contact {
    margin-top: 100px;
    text-align: center;
}

.contact i:hover {
    font-size: larger;
    color: var(--hover-color);
    font-size: 3em; 
}

footer p{
    text-align: center;
    font-size: 12px
}

footer a {
    color:var(--hover-color);
}


@media screen and (max-width: 600px) {
    .desktop-nav {
        display: none;
    }

    .menu-option{
        display: none;
        padding-left: 25px;
    }

    .mobile-nav {
        display: grid;
        font-size: 30px;
        width: 100%;
        position: fixed;
        top: 0px;
        left:0px;
        padding-top: 25px;
        background-color: white;
        z-index: 1;
    }

    .menu-button {
        margin-left: 25px;
        font-size: 30px;
    }

    

    .clicked-menu-button {
        display: grid;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #ffffff;
        opacity: 0.95;
        font-size: 45px;
    }

    .clicked-menu-button .menu-option {
        display: grid;
    }

    .mobile-nav a:hover{
        color: var(--hover-color);
    }

    .body {
        margin-left: 20px;
        margin-right: 20px;
    }

}
