.desktop-nav :nth-child(3) {
    border-bottom: 3px solid var(--hover-color);
    color: var(--hover-color);
}

.intro {
    margin-top: 125px;
    font-size: 20px;
}

.project {
    display: flex;
    background-color: var(--border-color);
    margin-bottom: 20px;
    
}
img {
    height: auto;
    width: 50%;
    max-height: 400px;
}

.description {
    margin-left: 10px
}

h2 {
    color: var(--text-color);
    font-size: 22px;
}

@media screen and (max-width: 600px) {
    .project{
        flex-wrap: wrap;
    }
    img {
        width: 100%;
        
    }
    .description {
        width: 100%;
    }
}